<body>
    <link rel="stylesheet" href="/css/styles.css">

<div class="formulario-de-registro">
<h5 class="textoPrincipal-form">Login para usuari@</h5>
<br>

<link rel="stylesheet" href="/css/styles.css">
<form action="/" method="GET">
</section class="login-form">
    <div class="login">
    <label>Nombre de Usuari@</label>
    <input type="text" name="username">
    </div>
    <div class="login">
    <label>Contraseña</label>
    <input type="password" name="password">
    </div>
    <div>
    <button type="submit" name="boton-formulario" class="button-form">Enviar</button> 
    </div>
</section>
    </form>