
<body>
    <link rel="stylesheet" href="/css/styles.css">

<div class="formulario-de-registro">
<h5 class="textoPrincipal-form">Formulario de Registro</h5>
<br>
    <form action="/" method="GET"  >
        <div class="formulario">   
            <input type="text" name="Nombre y Apellido" placeholder="Nombre y Apellido" required>
        <div>
        <input type="text" name="username" placeholder="Nombre de Usuario" required>
        </div>
        <div>
            <input type="email" name="email" placeholder="Correo Electronico" required>
            </div>
        <div>
            <label>
            <div><label>
                <h5 class="texto-form">Fecha de Nacimiento</h5>
            </label></div>
                <input type="date" name="profile"></div> 
        <div>
        <input type="text" name="domicilio" placeholder="Domicilio" required>
        </div>
        <div class="formulario">
    <label>
        <h5 class="texto-form">Perfil de Usuario</h5>
    </label>
    </div>
    <input type="radio" name="boton-formulario" value="Comprador">Comprador</button>
    <input type="radio" name="boton-formulario" value="Vendedor">Vendedor</button>
    <div>
        <label>
            <h5 class="texto-form">Intereses</h5>
        </div>
        <label Intereses><input type="checkbox" name="intereses" value="Electro">Electro</label>
        <label Intereses><input type="checkbox" name="intereses" value="Moda">Moda</label>
        <label Intereses><input type="checkbox" name="intereses" value="Hogar">Hogar</label>
        <label Intereses><input type="checkbox" name="intereses" value="Jugueteria">Jugueteria</label>
        <label Intereses><input type="checkbox" name="intereses" value="Vida Sana">Vida Sana</label>
      
    <div>
    <label>
        <h5 class="texto-form">Foto de Usuario</h5>
        <input type="file" name="Foto De Usuario" accept="image/png, image/jpeg">
        
    </label>
    </div>
    <div>
   <div>
       <input type="password" name="contraseña" placeholder="Contraseña" required>   
   </div> 
    <div>
         <input type="password" name="Confirmar contraseña"  placeholder="Confirmar Contraseña" required>    
    </div>
    </div>
       <div>
            <label>
                <button type="submit" class="boton-formulario">Enviar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
        
    </label>
       </div>
       </div>
        </div>
    </div>
    </body>